/* Animated Border Button */
#stacked {
    display: grid;
    place-items: center;
    isolation: isolate;

    height: 40vh;
    width: 100%;
    border: 2px solid var(--accent1);
}

#stacked > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.card {
    display: grid;
    place-items: center;
    background-color: var(--bg);
    position: relative;
    height: 50%;
    width: 50%;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


.card-border {
    background-image: conic-gradient(from var(--angle), var(--accent1), var(--accent3), var(--accent4), var(--accent1));
    position: relative;
    height: calc(50% + 10px);
    width: calc(50% + 10px);
    z-index: -1;
    animation: 3s spin linear infinite;

}

.card-shadow {
    background-image: conic-gradient(from var(--angle), var(--accent1), var(--accent3), var(--accent4), var(--accent1));--accent4, --accent1);
    filter: blur(30px);
    position: relative;
    height: calc(50% + 10px);
    width: calc(50% + 10px);
    opacity: .3;
    z-index: -2;
    animation: 3s spin linear infinite;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}





/* SVG music notes */
#svg-extract {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;

    --note-scale: 1;

    padding-right: calc(1.5rem * var(--note-scale));
    padding-left: calc(.5rem * var(--note-scale));
    gap: calc(8px * var(--note-scale) * 4);
    color: var(--text);
    
    height: calc(56px * var(--note-scale) + (56px * var(--note-scale) / 4) );
    /width: calc(56px * var(--note-scale) + (56px * var(--note-scale) / 4) );

    justify-content: center;
    align-items: center;
    
    /border: 4px solid #ff0000;

    & svg {
        color: var(--text);
        transform: scale(calc(100% * var(--note-scale)));
        /stroke-width: .1; 
        /stroke: var(--accent2);
        /border: 1px solid greenyellow;
    }

}